*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
/* ============================navbar================ */
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px black;
}
.nav1{
    /* background-color: green; */
    padding: 10px;
}
.nav2 ul{
display: flex;
}
.nav2 ul li{
    list-style-type: none;
    padding: 10px;
    /* background-color: green; */
}
.nav2 ul li:hover, .nav1:hover{
    background-color: #CCCCCC;
}

/* =====================main container============= */

.imgContainer img{
    width: 100vw;
}
.imgContainer .text{
    position: relative;
    top: -81px;
    left: 24px;
    width: fit-content;
    font-size: 3rem;
    color: #5D5F61;
}
.about, .ourMenu{
    /* border: 2px solid black; */
    width: 100vw;
    padding: 10px;
    display: flex;
}
.aboutImg img, .ourMenu img{
    width: 45vw;
    padding: 20px;
    opacity: 0.8;
}
.aboutContent, .ourMenuContent{
    width: 45vw;
    padding: 20px;
    /* border: 2px solid black; */
    text-align: center;
}
.aboutContent h3{
    letter-spacing: 5px;
    font-size: 2rem;
    padding: 50px 0 50px 0;
}
.aboutContent h4{
    letter-spacing: 3px;
    word-spacing: 3px;
    font-size: 0.8rem;
    padding: 10px;
}
.aboutContent p{
    text-align: left;
    padding: 10px;
    font-size: 1.2rem;
    word-spacing: 4px;
    width: 100%;
}
.aboutContent p span{
    background-color: rgba(185, 180, 180, 0.726);
    padding: 0 3px;
}
.aboutContent .txt-gray{
    color: gray;
}
.ourMenuContent h2{
    text-align: left;
    padding: 20px 0;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: normal;
}
.ourMenuContent p{
    text-align: left;
    padding: 10px 0;
    color: gray;
}
.contact p{
    padding: 20px;
}
.contact h3{
    padding: 20px;
    color: #93D6FF;
}
form{
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}
input{
    width: 95vw;
    height: 40px;
    margin: 0px 20px;
    padding: 10px 0 10px 5px;
    font-weight: bold;
    color: rgb(187, 182, 182);
    border: none;
    border-bottom:1px solid gray ;
}
input[type="datetime-local"]{
    color: black;
    font-weight: normal;
}
button{
    margin: 20px 20px; 
    padding: 10px 20px;
    border: none;
}
button:hover{
    background-color: #CCCCCC;
    cursor: pointer;
}
footer{
    width: 100vw;
    height: 100px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    color: black;
}
footer a:hover{
    color: blue;
}
